.collect-list {
    font-size: .16rem;
}

.collect-list li {
    display: flex;
    border: .01rem solid #ccc;
    padding: .10rem;
    border-radius: .05rem;
    box-shadow: .01rem .01rem .02rem #ccc,-.01rem .01rem .02rem .01rem #ccc;
}
.collect-list li .book-content{
    height: .9rem;
    overflow:hidden;
    text-overflow:ellipsis;
}
.collect-list li img {
    width: 1rem;
    height: .9rem;
}
.collect-list li div {
    width: 2.78rem;
    display: flex;
    flex-direction: column;
}